<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="root-route-view-container">
    <h2>👽 hello, <%= user ? user.profile.name : "cryptid enthusiast" %></h2>
    <% if (user?.profile.avatar) { %>
      <a class="text-decoration-none" href="/profiles/<%= user.profile._id %>">
        <div>
          <img
            src="<%= user.profile.avatar %>"
            alt="<%= user.profile.name %> avatar"
          />
        </div>
      </a>
    <% } %>
  </div>
</main>

<%- include('./partials/footer') %>
