<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h2>👽 hello, <%= user ? user.profile.name : "cryptid enthusiast" %></h2>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
