<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/cryptids/new.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/cryptids" method="POST">
    <label for="cryptid-name-input">Name:
      <input type="text" name="name" id="cryptid-name-input" autocomplete="off">
    </label>
    <label for="spotted-date-input">Date Spotted:
      <input type="datetime-local" value="<%= spottedDate %>" name="spotted" id="spotted-date-input">
    </label>
    <label for="description-input">Description:
      <textarea 
        name="description" 
        id="description-input" 
        cols="30"
        rows="5" 
        type="text"
        autocomplete="off"
      ></textarea>
    </label>
    <button type="submit">Add Cryptid 🦇✨</button>
  </form>
</main>

<%- include('../partials/footer') %>